doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Signin Multi Price
    // Custom styles for this templates
    link(rel="stylesheet", href='/bootstrap/css/bootstrap.min.css')
    link(href='/bootstrap/css/style.css', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='/bootstrap/js/sidebar.js')
    
  body
    #mySidebar.sidebar(onmouseover='toggleSidebar()', onmouseout='toggleSidebar()')
      a(href='/logout')
          span
          i.material-icons perm_identity
          span.icon-text Welcom #{username}
            button#show.btn.btn-lg.btn-primary.btn-block(type='submit') Sign out
      a(href='/products')
          span
          i.material-icons add
          span.icon-text Products
      br
      a(href='#')
          i.material-icons spa
          span.icon-text
          | Inventories
      br
      a(href='#')
          i.material-icons monetization_on
          span.icon-text
          | Sell
      br
      a(href='/user-list')
          i.material-icons email
          span.icon-text
          | Users
          span
      br
      a(href='/dashboard')
          i.material-icons home
          span.icon-text
          | home
          span

    block content
    #main
      .container#mess(style='margin-top: 10px')
        != messages('message', locals)
      .container#downabit
        .container-fluid
            .row
                .card-deck
                    .card.text-white.bg-primary.mb-3(style='max-width: 18rem;')
                        .card-header Products
                        .card-body
                            h5.card-title #{product}
                            p.card-text
                                | Total Product Available in the store
                    .card.text-white.bg-secondary.mb-3(style='max-width: 18rem;')
                        .card-header Users
                        .card-body
                            h5.card-title #{user}
                            p.card-text
                                | Total User That are registered to use this system
                    .card.text-white.bg-success.mb-3(style='max-width: 18rem;')
                        .card-header Total Cost
                        .card-body
                            h5.card-title #{totalQ}
                            p.card-text
                                | Total Cost of all products available
            
            block dashboard
      .footer-copyright.text-center.text-black-50.py-3
        | © 2019 Copyright:
        a#cona(href='#')  Multi Price Inventory | By Kalla Giga
        // Copyright
        // Footer  
